node_modules
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.env.development

__pycache__

.pytest_cache

.DS_Store

.venv

.mypy_cache

.ruff_cache

.vscode

.idea

.env.local
venv


